*.bak
*.bs
*.c
*.o
*.old
*.orig
*.rej
*.swp
*.tar.gz
*.pm.tdy
*~
.build/
/.build
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/Test2-Harness2-ChildSubReaper-*/
/blib/
/pm_to_blib
MYMETA.*
Makefile
blib/
pm_to_blib
cover_db/
nytprof.out
/.worktrees/
